.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: auto;
  background: #2c92d5;
}

.footer-container h1{
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  margin-top: 10px;
}
.footer-container p{
  color: #fff;
  font-size: 24px;
  margin: 30px;
}
h1,p,ul,a,li{
  background: rgba(0,0,0,0);
}

.footer-container ul{
  /* margin: 30px 0; */
}

.footer-container ul li{
  color: #fff;
  margin: 8px;
  transition: filter .2s;
}

.footer-container ul li:hover{
  filter: brightness(80%);
}
.logo-link-news{
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.logo-link-news img{
  width: 1000px;
}
.logo-link-news-row-1{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100%;

  padding: 0 100px;

  background: rgba(0,0,0,0);
}
.logo-link-news-row-2{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 100%;

  padding: 0 200px;

  padding-bottom: 50px;

  background: rgba(0,0,0,0);

}