.get-contact-container{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.get-contact-container form{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  width: 800px;
  height: 400px;

  border-radius: 14px;

  background: #d9d9d9;

  margin: 40px 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

.get-contact-container form .input-group{
  display: flex;
  flex-direction: column;

  margin: 8px 0;
  background: rgba(0,0,0,0);
  width: 100%;
}

.get-contact-container form input,textarea, button{
  background: rgba(0,0,0,0);
}

.get-contact-container form input{
  font-size: 12px;

  text-align: start;

  height: 40px;
  width: 80%;

  border-radius: 8px;
  border: 2px solid #fff;

  margin: 5px auto;
  padding: 0 15px ;
  outline: none;
  
  background:#fff;
}

::-webkit-input-placeholder {
  color: #2c92d5;
}

.get-contact-container form textarea{
  font-size: 12px;

  color: #fff;

  text-align: start;

  height: 30%;
  width: 80%;

  border-radius: 8px;
  border: 2px solid #fff;

  padding: 15px;
  margin: 5px auto;
  outline: none;

  background:#fff;
}

.get-contact-container form button{
  width: 200px;
  height: 40px;

  margin-top: 30px;

  color: #fff;
  font-size: 16px;

  border: 2px solid #2c92d5;

  cursor: pointer;

  background: #2c92d5;
}

form h1{
  font-size: 36px;
  font-weight: 500;
  color: #2c92d5;
  background: rgba(0,0,0,0);
}