@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*, html, body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #fff;
  scroll-behavior: smooth;
}
h1{
  font-size: 52px;
  font-weight: 600;
}
a, select{
  text-decoration: unset;
  cursor: pointer;
}

li{
  list-style: unset;
}

.up{
  position: fixed;
  z-index: 10;
  top: 85vh;
  left: 90vw;
  border-radius: 50%;

  width: 80px;
  height: 80px;

  display: flex; 
  justify-content: center; 
  overflow: hidden;
  align-items: center; 

  background:rgba(44,146,213,.9);

  box-shadow: 2px 2px 5px rgba(0,0,0,.3);

  transition: filter .2s;
}

.up:hover{
  filter: brightness(120%);
}

.up i{
  font-size: 1.5em;
  color: #fff;
}

@media (max-width: 780px){

  .up{
   
    top: 85vh;
    left: 90vw;
  
    width: 50px;
    height: 50px;

    font-size: 1em;
  }
}

@media (max-width: 480px){

  .up{
   
    top: 85vh;
    left: 87vw;
  
    width: 50px;
    height: 50px;

    font-size: 1em;

  }
}

@media (max-width: 350px){

  .up{
   
    top: 85vh;
    left: 82vw;
  
    width: 50px;
    height: 50px;

    font-size: 1em;

  }
}