.header-container{
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100vw;
  margin-top: -30px;

}

.header-container .banner-1{
  width: 40vh;
  /* width: auto; */
}

.header-container .header-content{
  position: absolute;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header-container .header-content h1{
  font-size: 58px;

  background: rgba(0,0,0,0);
}

.header-container .header-content p{
  font-size: 22px;
  width: 80%;
  margin: 0 auto;
}

