.header-container{
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100vw;
  margin-top: -30px;
  background-color: rgba(0,0,0,0);

}

.header-container .banner-1{

  background-color: rgba(0,0,0,0);
}

.header-container .header-content{
  position: absolute;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0,0,0,0);
}

.header-container .header-content h1{
  font-size: 58px;

  background: rgba(0,0,0,0);
}

.header-container .header-content p{
  font-size: 22px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0);
}


@media (max-width: 780px){
  .header-container{
    width: 100vw;
    height: 100vh;
  }
  .header-container .banner-1{
    height: auto;
    display: none;
  }
  
  .header-container .header-content{
    width: 90vw;
    height: 90vh;
    margin: 10px auto;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
  background:rgba(44,146,213,.9);
  }
}
