.main-container{
  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: center;

  width: 100vw;
  padding: 10px 300px;

}

.news-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}

.news-container h1{
  font-size: 44px;
  font-weight: 500;
  color: #2c92d5;
}

.news-container p{
  font-size: 24px;
}

.news-item{
  position: relative;

  border-radius: 18px;
  background: #d9d9d9;

  margin: 40px 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3);

  height: auto;
  padding-bottom: 35px;
  transition: height .2s;

  overflow-y: hidden;
}

.news-item h4{
  display: flex;
  position: absolute;
  font-size: 10px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 8px;
  color: #545454;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
}
.news-item span{
  background-color: rgba(0,0,0,0);
  margin: -2px 6px;
}

.news-item img, .video-container{
  height: 550px;
  width: 100%;
}

.video-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,1);
  margin-bottom: 15px;
}

.video-container iframe{
  width: 100%;
  z-index: 10;
  height: 70%;
}

.news-item .news-card-head h1{
  font-size: 32px;
  margin: 0 10px;
  background: rgba(0,0,0,0);
}
.news-item .news-card-head p{
  font-size: 14px;
  color: #545454;
  margin: 6px 25px;
  background: rgba(0,0,0,0);
}

.news-card-content{
  text-align: start;
  margin-top: 5px;
  background: rgba(0,0,0,0);
}

.news-off{ 
  display: none;
}
.news-card-head{
  background: rgba(0,0,0,0);

}

.news-item .news-card-content p{
  display: block;
  font-size: 18px;
  margin: 55px 15px;
  background: rgba(0,0,0,0);
  padding: 0 40px;

}
.news-item .news-card-content strong{
  margin: 8px 20px;
  background: rgba(0,0,0,0);

}
.news-item .news-card-content h2{
  margin: 0 40px;
  background: rgba(0,0,0,0);

}
@media (max-width: 1080px){
  html,body{
    margin: 0;
    padding: 0;
  }
.main-container{
    
    width: 100vw;
    padding: 10px;
  
  }
}
@media (max-width: 780px){
  html,body{
    margin: 0;
    padding: 0;
  }
.main-container{
    
    width: 100vw;
    padding: 10px;
  
  }
 
  .news-item .news-card-head p{
    margin: 6px;
  }

  .news-item img, .video-container{
  height: auto;
}
}
