.about-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 8px 60px;
  width: 100vw;
  height: auto;
}

.about-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  align-items: center;
  height: 70%;

  width: 700px;
  margin: 30px;

  padding: 5px 18px;
  border-radius: 14px;

  background: #d9d9d9;

}

.about-content h1{
    font-size: 36px;
    font-weight: 500;
    color: #2c92d5;
    background: rgba(0,0,0,0);
}
.about-content h2{
    font-size: 24px;
    font-weight: 500;
    color: #2c92d5;
    background: rgba(0,0,0,0);
}
.about-content p{
  margin: 0 30px;
}
.about-content p , a , i, article, .about-icons, .about-icons-container{
    background: rgba(0,0,0,0);
}

#about-img{
  border-radius: 50%;

  border: 4px solid #2c92d5;
  overflow: hidden;
  width: 350px;
  height: 350px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

#about-img img{
  height: 400px;
}
.about-icons-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
i{
  margin-top: 8px;
  color: #545454;
}

@media (max-width:600px){


  .about-container{
    
    padding: 8px;
    
  }

  .about-content{

    margin: 10px 0;
  
    padding: 5px;
   
  
  }

  #about-img{
    
    width: 250px;
    height: 250px;
  }
  
  #about-img img{
    height: 270px;
  }

}
