
.nav-container{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 20vh;
  background: rgba(0,0,0,0);
}
.toggle{
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;

  padding: 0 30px;
  margin-top: -45px;
  background: rgba(0,0,0,0);

  border: unset;
}

.toggle i{
  border: 1px solid rgba(0,0,0,.3);
  padding: 8px 12px;

  border-radius: 4px;

  cursor: pointer;
}
.nav-container .logo h1{
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  left: 60px;
  top: 25px;
  font-size: 28px;
  font-weight: 300;
  color: #2c92d5;
  text-transform: uppercase;
  background: rgba(0,0,0,0);

}
.nav-container .logo h1 i{
  color: #2c92d5;

  margin: 10px 0;
}

.nav-container .logo h1 span{
color: #c7d0d8;
margin: 0 5px;
}

.nav-container ul{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 40vw;
  height: 100px;

  margin: 10px 100px;

  background: rgba(0,0,0,0);
}

.nav-container ul a{
  font-weight: 600;
  color: #13538a;
  transition: filter .2s;
  background: rgba(0,0,0,0);
}

.nav-container ul a:hover{
  filter: brightness(160%);
}

.nav-container ul a li{

  background: rgba(0,0,0,0);
}

@media (max-width: 780px){
  .nav-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding-top: 70px;
    scroll-behavior: smooth;

  }
  .nav-items{
    max-height: 100%;
  }
  .toggle-off{
    max-height: 0;
    pointer-events: none;
    }
  .nav-container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 100vw;
    height: auto;
  
    margin: 30px auto;
  }

  .nav-container ul a li{

    margin: 10px 0;
  }


}